# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset files
data/raw/*.csv

# Trained Models
models/*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]
*$py.class